openapi: 3.1.0
info:
  title: Planevo API
  version: 1.0.0
  description: |
    REST API for Planevo web and mobile clients.
    Contracts are implemented with Zod schemas in `apps/web/lib/api/schemas.ts`.
servers:
  - url: https://planevo.co
    description: Production
  - url: http://localhost:3000
    description: Local development
paths:
  /api/auth/sign-in:
    post:
      summary: Sign in with email and password
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthSignInBody'
      responses:
        '200':
          description: Session cookies set
        '401':
          description: Invalid credentials
        '429':
          description: IP rate limit exceeded
  /api/auth/sign-up:
    post:
      summary: Create account with email and password
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthSignUpBody'
      responses:
        '200':
          description: Sign-up accepted
        '400':
          description: Invalid input
        '429':
          description: IP rate limit exceeded
  /api/auth/password-reset:
    post:
      summary: Request password reset email
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthPasswordResetBody'
      responses:
        '200':
          description: Request accepted (uniform response)
        '429':
          description: IP rate limit exceeded
  /api/auth/change-password:
    post:
      summary: Change authenticated user's password
      tags: [Auth]
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthChangePasswordBody'
      responses:
        '200':
          description: Password changed
        '400':
          description: Invalid password change request
        '401':
          description: Unauthorized
        '429':
          description: IP rate limit exceeded
  /api/auth/recovery-session:
    get:
      summary: Check whether a recovery session is active
      tags: [Auth]
      responses:
        '200':
          description: Recovery session status
  /api/metrics/track:
    post:
      summary: Track daily user metrics
      tags: [Metrics]
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricsTrackBody'
      responses:
        '200':
          description: Metric recorded
        '401':
          description: Unauthorized
    get:
      summary: Fetch last 7 days of metrics
      tags: [Metrics]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Metrics list
  /api/integrations/google/calendars/save:
    post:
      summary: Save selected Google Calendar IDs
      tags: [Integrations]
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCalendarsSaveBody'
      responses:
        '200':
          description: Preferences saved
  /api/integrations/composio/connect:
    post:
      summary: Start Composio OAuth connection
      tags: [Integrations]
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComposioConnectBody'
      responses:
        '200':
          description: Redirect URL or already connected
  /api/schedule:
    post:
      summary: Generate AI daily schedule from tasks
      tags: [AI]
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '200':
          description: Schedule blocks
        '403':
          description: Rate limit reached
  /api/ai/chat:
    post:
      summary: Bruno chat completion (streaming)
      tags: [AI]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Streamed response
        '429':
          description: Rate limit reached
  /api/ai/chat/feedback:
    post:
      summary: Record feedback for a Bruno chat message
      tags: [AI]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Feedback recorded or cleared
        '400':
          description: Invalid feedback payload
        '404':
          description: Message not found
  /api/ai/chat/select-variant:
    post:
      summary: Switch the active Bruno message variant
      tags: [AI]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Active branch transcript
        '400':
          description: Invalid variant selection
        '404':
          description: Conversation not found
  /api/ai/conversations/{id}:
    get:
      summary: Get conversation by ID
      tags: [AI]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Conversation
        '404':
          description: Not found
  /api/ai/daily-plan:
    post:
      summary: Generate daily plan
      tags: [AI]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Plan generated
  /api/ai/generate-title:
    post:
      summary: Generate conversation title
      tags: [AI]
      responses:
        '200':
          description: Title
  /api/ai/insight:
    post:
      summary: AI insight
      tags: [AI]
      responses:
        '200':
          description: Insight
  /api/ai/weekly-review:
    post:
      summary: Weekly productivity review
      tags: [AI]
      responses:
        '200':
          description: Review text
  /api/bruno/actions/execute:
    post:
      summary: Execute Bruno proposed action
      tags: [Bruno]
      responses:
        '200':
          description: Action executed
  /api/bruno/fallback/breakdown:
    post:
      summary: Bruno fallback task breakdown
      tags: [Bruno]
      responses:
        '200':
          description: Breakdown
  /api/cron/auto-daily-plan:
    get:
      summary: Run the automatic daily plan sweep
      tags: [Cron]
      responses:
        '200':
          description: Sweep completed
        '500':
          description: Cron job failed
  /api/cron/export-chat-feedback:
    get:
      summary: Export unexported Bruno chat feedback for training
      tags: [Cron]
      responses:
        '200':
          description: Feedback export result
        '500':
          description: Export failed
  /api/flashcards:
    get:
      summary: List note flashcards
      tags: [Notes]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Flashcard list
    post:
      summary: Create or review a note flashcard
      tags: [Notes]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Flashcard created or reviewed
        '400':
          description: Invalid flashcard payload
  /api/notebooks:
    get:
      summary: List notebooks
      tags: [Notes]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Notebook list
    post:
      summary: Create notebook
      tags: [Notes]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Notebook created
        '400':
          description: Invalid notebook payload
  /api/notes:
    get:
      summary: List notes
      tags: [Notes]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Note list
    post:
      summary: Create note
      tags: [Notes]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Note created
        '400':
          description: Invalid note payload
    put:
      summary: Sync course notebooks
      tags: [Notes]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Notebook sync result
  /api/notes/assignments:
    get:
      summary: List Canvas assignments for notes
      tags: [Notes]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Assignment list
  /api/notes/search:
    get:
      summary: Search notes
      tags: [Notes]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Search results
        '400':
          description: Invalid search query
  /api/notes/{id}:
    get:
      summary: Get note by ID
      tags: [Notes]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Note detail
        '404':
          description: Note not found
    patch:
      summary: Update note
      tags: [Notes]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Note updated
        '400':
          description: Invalid update payload
        '404':
          description: Note not found
    delete:
      summary: Delete note
      tags: [Notes]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Note deleted
        '404':
          description: Note not found
  /api/notes/{id}/revisions:
    get:
      summary: List note revisions
      tags: [Notes]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Revision list
  /api/notifications/inbox:
    get:
      summary: List notification inbox items
      tags: [Notifications]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Notification inbox
  /api/notifications/read-all:
    post:
      summary: Mark all notifications read
      tags: [Notifications]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Notifications updated
  /api/notifications/{id}:
    patch:
      summary: Mark or dismiss a notification
      tags: [Notifications]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Notification updated
        '400':
          description: Invalid notification action
  /api/integrations/canvas/save:
    post:
      summary: Save Canvas credentials
      tags: [Integrations]
      responses:
        '200':
          description: Saved
  /api/integrations/composio/connections:
    get:
      summary: List Composio connections
      tags: [Integrations]
      responses:
        '200':
          description: Connections
  /api/integrations/composio/disconnect:
    post:
      summary: Disconnect Composio integration
      tags: [Integrations]
      responses:
        '200':
          description: Disconnected
  /api/integrations/composio/linear/settings:
    get:
      summary: Linear integration settings
      tags: [Integrations]
      responses:
        '200':
          description: Settings
    post:
      summary: Save Linear settings
      tags: [Integrations]
      responses:
        '200':
          description: Saved
  /api/integrations/composio/notion/databases:
    get:
      summary: List Notion databases
      tags: [Integrations]
      responses:
        '200':
          description: Databases
    post:
      summary: Save Notion database selection
      tags: [Integrations]
      responses:
        '200':
          description: Saved
  /api/integrations/composio/slack/settings:
    get:
      summary: Slack integration settings
      tags: [Integrations]
      responses:
        '200':
          description: Settings
    post:
      summary: Save Slack settings
      tags: [Integrations]
      responses:
        '200':
          description: Saved
  /api/integrations/composio/sync:
    post:
      summary: Sync Composio providers
      tags: [Integrations]
      responses:
        '200':
          description: Synced
  /api/integrations/composio/verify:
    post:
      summary: Verify Composio connection
      tags: [Integrations]
      responses:
        '200':
          description: Verified
  /api/integrations/google/calendars:
    get:
      summary: List Google calendars
      tags: [Integrations]
      responses:
        '200':
          description: Calendars
  /api/integrations/google/sync:
    post:
      summary: Sync Google Calendar
      tags: [Integrations]
      responses:
        '200':
          description: Synced
  /api/notifications/test:
    post:
      summary: Send test push notification
      tags: [Notifications]
      responses:
        '200':
          description: Sent
  /api/notifications/test-email:
    post:
      summary: Send test email notification
      tags: [Notifications]
      responses:
        '200':
          description: Sent
  /api/schedule/rollover:
    post:
      summary: Rollover overdue tasks to today
      tags: [Schedule]
      responses:
        '200':
          description: Rollover complete
  /api/stripe/checkout:
    post:
      summary: Create Stripe checkout session
      tags: [Billing]
      responses:
        '200':
          description: Checkout URL
  /api/stripe/portal:
    post:
      summary: Create Stripe customer portal session
      tags: [Billing]
      responses:
        '200':
          description: Portal URL
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: sb-access-token
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    AuthSignInBody:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          maxLength: 320
        password:
          type: string
          minLength: 1
          maxLength: 256
    AuthSignUpBody:
      type: object
      required: [email, password, name]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
          maxLength: 256
        name:
          type: string
          minLength: 1
          maxLength: 120
        referralCode:
          type: string
          maxLength: 64
        nextPath:
          type: string
          maxLength: 256
    AuthPasswordResetBody:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
    AuthChangePasswordBody:
      type: object
      required: [currentPassword, newPassword]
      properties:
        currentPassword:
          type: string
          minLength: 1
          maxLength: 256
        newPassword:
          type: string
          minLength: 8
          maxLength: 256
    MetricsTrackBody:
      type: object
      required: [type, value]
      properties:
        type:
          type: string
          enum: [focus_time, task_completed, task_planned]
        value:
          type: number
          minimum: 0
        date:
          type: string
          pattern: '^\d{4}-\d{2}-\d{2}$'
    GoogleCalendarsSaveBody:
      type: object
      required: [selectedCalendarIds]
      properties:
        selectedCalendarIds:
          type: array
          maxItems: 50
          items:
            type: string
            minLength: 1
            maxLength: 256
    ComposioConnectBody:
      type: object
      required: [appName]
      properties:
        appName:
          type: string
          minLength: 1
          maxLength: 64
        redirectUrl:
          type: string
          maxLength: 2048
        reconnect:
          type: boolean
